@import "code_sync/variables";

.editor-utility {
  min-width: 450px;
  max-width: 600px;
  .control-group {
    textarea {
      border-radius: 4px;
    }
  }
}

.editor-utility.top-aligned {
  top: 40px;
  left: 40px;
}

.editor-utility.bottom-aligned {
  top: 140px;
  left: 40px;
}

.editor-utility {
  background: $darkBackground;
  border-radius: 4px;
  box-shadow: 0 0 6px $fadedWhite;
  color: $white;
  max-width: 600px;
  color: $white;
  padding: 20px;
  position: absolute;
  z-index: 9000;
  label {
    color: $white;
    text-decoration: underline;
    display: block
  }
}

.editor-utility {
  .form-control {
    padding: 20px;
    .control-group {
      label {
        margin-bottom: $baseLineHeight / 2;
        font-weight: bold;
      }
      textarea {
        width: 80%;
        resize: none;
        min-height: 100px;
      }
    }
    .form-control-actions {
      padding-top: $baseLineHeight / 2;
      clear: both;
      width: 100%;
      .btn {
        background-color: $fadedWhite;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.editor-utility {
  .form-control-actions {
    a.btn {
      margin-right: 4px;
    }
  }
}

.editor-utility {
  .results {
    .control-group input {
      width: 80%;
    }
  }
  ul.results-container {
    padding: 0px;
    margin: 20px 0px;

    li {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }
  }
}
