.document-tabs-container {
  position: absolute;
  left: 10px;
  bottom: 0px;
  z-index: 9000;
  width: 940px;


  .document-tab {
    float: left;
    border: 1px solid #777;
    border-top: 0px;
    padding: 0px 8px;
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;
    background: rgba(40,40,40,0.9);
    color: #fff;

    &.static {
      float: right;
    }
  }
}