$white: rgba(225,225,225,0.5);

.codesync-editor {
  .codesync-element-sync {
    position: absolute;
    z-index: 9000;
    top: 35px;
    right: 15px;
    padding: 4px 8px;
    width: 400px;
    background: none;
    input {
      width: 95%;
      border-radius: 3px;
      padding: 4px 8px;
      background: none;
      color: opacify($white,1);
      border: 1px solid $white;
    }
    select {
      margin-top: 4px;
      float: right;
      width: 60%;
    }
    .row {
      padding: 0px;
      margin: 0px;
    }
    .span9 {
      width: 66.666%;
      float: left;
      margin: 0px;
      padding:0px;
    }

    .span3 {
      width: 33.3333%;
      float: left;
      margin: 0px;
      padding:0px;
    }

    .element-sync-status {
      color: opacify($white,0.8);
      font-size: 14px;
      float: left;
      width: 50%;
      line-height: 20px;
      padding-top: 10px;
    }

    .done-button {
      margin-top: 8px;
      float: left;
      font-size: 14px;
      line-height: 20px;
      width: 50%;
    }
  }
}

.codesync-editor[data-theme='xq-light'] {
  .codesync-element-sync {

  }
}

.codesync-editor.bottom-positioned, .codesync-editor.static-positioned {
  .codesync-element-sync {
    top: 75px;
  }
}