/* line 9, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing.css.sass */
body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  line-height: 26.4px;
  font-size: 16px;
  background-color: #a6a6a6;
  color: #333333; }

/* line 16, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing.css.sass */
.wrapper {
  width: 960px;
  margin: 40px auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
  padding: 20px 20px 40px 20px; }
  /* line 24, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing.css.sass */
  .wrapper p {
    line-height: 26.4px;
    margin-bottom: 13.2px; }
  /* line 28, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing.css.sass */
  .wrapper ul.links {
    margin: 0px;
    padding: 0px;
    margin-bottom: 13.2px; }
    /* line 32, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing.css.sass */
    .wrapper ul.links li {
      display: inline;
      margin-right: 12px;
      list-style-type: none; }
  /* line 38, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing.css.sass */
  .wrapper .codehilite pre {
    padding: 10px;
    border-radius: 8px;
    max-width: 940px;
    overflow: scroll; }
  /* line 45, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing.css.sass */
  .wrapper section p, .wrapper section ul {
    width: 80%; }
/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite code, .codehilite pre {
  color: #fdce93;
  background-color: #3f3f3f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .hll {
  background-color: #222; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .c {
  color: #7f9f7f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .err {
  color: #e37170;
  background-color: #3d3535; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .g {
  color: #7f9f7f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .k {
  color: #f0dfaf; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .l {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .n {
  color: #dcdccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .o {
  color: #f0efd0; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .x {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .p {
  color: #41706f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .cm {
  color: #7f9f7f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .cp {
  color: #7f9f7f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .c1 {
  color: #7f9f7f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .cs {
  color: #cd0000;
  font-weight: bold; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gd {
  color: #cd0000; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .ge {
  color: #ccc;
  font-style: italic; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gr {
  color: red; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gh {
  color: #dcdccc;
  font-weight: bold; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gi {
  color: #00cd00; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .go {
  color: gray; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gp {
  color: #dcdccc;
  font-weight: bold; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gs {
  color: #ccc;
  font-weight: bold; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gu {
  color: purple;
  font-weight: bold; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .gt {
  color: #0040D0; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .kc {
  color: #dca3a3; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .kd {
  color: #ffff86; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .kn {
  color: #dfaf8f;
  font-weight: bold; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .kp {
  color: #cdcf99; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .kr {
  color: #cdcd00; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .kt {
  color: #00cd00; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .ld {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .m {
  color: #8cd0d3; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .s {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .na {
  color: #9ac39f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nb {
  color: #efef8f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nc {
  color: #efef8f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .no {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nd {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .ni {
  color: #c28182; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .ne {
  color: #c3bf9f;
  font-weight: bold; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nf {
  color: #efef8f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nl {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nn {
  color: #8fbede; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nx {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .py {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nt {
  color: #9ac39f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .nv {
  color: #dcdccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .ow {
  color: #f0efd0; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .w {
  color: #ccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .mf {
  color: #8cd0d3; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .mh {
  color: #8cd0d3; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .mi {
  color: #8cd0d3; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .mo {
  color: #8cd0d3; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .sb {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .sc {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .sd {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .s2 {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .se {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .sh {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .si {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .sx {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .sr {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .s1 {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .ss {
  color: #cc9393; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .bp {
  color: #efef8f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .vc {
  color: #efef8f; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .vg {
  color: #dcdccc; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .vi {
  color: #ffffc7; }

/* line 1, /Users/jonathan/Projects/code_sync/site/source/stylesheets/marketing/syntax.css.scss */
.codehilite .il {
  color: #8cd0d3; }
