/* line 2, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-name-input.css.scss */
.codesync-editor .asset-name-input {
  position: absolute;
  width: 420px;
  bottom: 20px;
  right: 240px;
  z-index: 4000; }
  /* line 3, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-name-input.css.scss */
  .codesync-editor .asset-name-input input {
    width: 100%; }
/* line 2, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
.codesync-editor .codesync-asset-selector {
  display: none;
  position: relative;
  width: 700px;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  top: 40px;
  left: 50%;
  margin-left: -350px; }
  /* line 13, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
  .codesync-editor .codesync-asset-selector .search-results-wrapper {
    position: absolute;
    height: 0px;
    top: 30px;
    left: 18px;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 0px 0px 4px 4px;
    width: 95%;
    z-index: 1;
    color: white;
    max-height: 200px;
    overflow: hidden;
    padding-top: 8px; }
    /* line 28, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
    .codesync-editor .codesync-asset-selector .search-results-wrapper .search-results {
      padding-top: 24px; }
    /* line 32, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
    .codesync-editor .codesync-asset-selector .search-results-wrapper .search-result {
      position: relative;
      padding: 8px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      height: 20px; }
      /* line 38, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
      .codesync-editor .codesync-asset-selector .search-results-wrapper .search-result.active {
        background-color: rgba(200, 200, 30, 0.4); }
  /* line 44, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
  .codesync-editor .codesync-asset-selector input {
    position: absolute;
    margin: 0px;
    height: 28px;
    z-index: 200;
    background: #5f5f5f;
    border: 0px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); }
/* line 3, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/document-manager.css.scss */
.codesync-editor .document-tabs-container .document-tab {
  font-size: 12px;
  float: left;
  border: 1px solid #777;
  padding: 2px 10px;
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  background: rgba(40, 40, 40, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 28px;
  margin-right: 2px; }
  /* line 16, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/document-manager.css.scss */
  .codesync-editor .document-tabs-container .document-tab.new-document {
    margin-right: 0px; }
  /* line 20, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/document-manager.css.scss */
  .codesync-editor .document-tabs-container .document-tab.new-document {
    float: right; }
  /* line 24, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/document-manager.css.scss */
  .codesync-editor .document-tabs-container .document-tab.open-document {
    float: right; }
/* line 3, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/mode-selector.css.scss */
.codesync-editor .codesync-asset-editor .mode-selector {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 9000; }
/* line 2, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/preferences-panel.css.scss */
.codesync-editor .preferences-panel {
  margin-bottom: 4px;
  margin-right: 4px;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  position: absolute;
  z-index: 4000;
  bottom: 55px;
  right: 10px; }
  /* line 14, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/preferences-panel.css.scss */
  .codesync-editor .preferences-panel label {
    color: #fff;
    text-decoration: underline;
    display: block; }

/* line 23, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/preferences-panel.css.scss */
.codesync-editor[data-theme='xq-light'] .preferences-panel {
  background: rgba(30, 30, 30, 0.9); }
/*

*/
/* line 9, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
.codesync-editor {
  background: rgba(200, 200, 200, 0);
  opacity: 0.99;
  width: 960px;
  height: 400px; }
  /* line 16, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor .document-tabs-container {
    position: absolute;
    width: 960px; }
  /* line 21, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor .codesync-asset-editor {
    position: absolute;
    width: 100%;
    z-index: 90;
    margin: 0px auto; }
    /* line 26, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
    .codesync-editor .codesync-asset-editor .CodeMirror {
      height: 375px; }
  /* line 31, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor .toolbar-wrapper {
    position: absolute;
    z-index: 9000;
    color: #fff;
    top: 10px;
    right: 10px; }
    /* line 38, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
    .codesync-editor .toolbar-wrapper .button {
      float: left;
      margin: 0px 4px;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid #a3a3a3;
      font-size: 12px;
      line-height: 18px;
      padding: 0px 4px; }
  /* line 50, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor .status-message {
    position: absolute;
    left: 50%;
    margin-left: -384px;
    bottom: 60px;
    z-index: 8000;
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0 0 3px #fff;
    min-width: 768px;
    color: #fff; }
    /* line 61, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
    .codesync-editor .status-message.error {
      background-color: rgba(235, 90, 90, 0.3); }
    /* line 64, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
    .codesync-editor .status-message.success {
      background-color: rgba(90, 235, 90, 0.3); }

/* line 71, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
.codesync-editor.top-positioned, .codesync-editor.bottom-positioned {
  position: fixed;
  left: 50%;
  margin-left: -480px;
  z-index: 30000; }

/* line 78, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
.codesync-editor.top-positioned {
  border-radius: 0px 0px 4px 4px;
  bottom: auto;
  top: 0px; }
  /* line 83, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor.top-positioned .codesync-asset-editor {
    top: 0px;
    bottom: auto; }
  /* line 88, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor.top-positioned .document-tabs-container {
    top: auto;
    bottom: -8px; }
    /* line 92, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
    .codesync-editor.top-positioned .document-tabs-container .document-tab {
      border-radius: 0px 0px 4px 4px; }

/* line 98, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
.codesync-editor.bottom-positioned {
  border-radius: 4px 4px 0px 0px;
  bottom: 0px;
  top: auto; }
  /* line 103, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor.bottom-positioned .codesync-asset-editor {
    top: 26px; }
  /* line 107, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
  .codesync-editor.bottom-positioned .document-tabs-container {
    top: 0px;
    bottom: auto; }
    /* line 111, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
    .codesync-editor.bottom-positioned .document-tabs-container .document-tab {
      border-radius: 4px 4px 0px 0px; }

/* line 120, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
.codesync-editor[data-theme="xq-light"] .toolbar-wrapper .button {
  background-color: #777;
  color: #ffffff; }
/* line 126, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
.codesync-editor[data-theme="xq-light"] .document-tabs-container .document-tab {
  background-color: #fff;
  color: #777; }
/* line 131, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/index.css.scss */
.codesync-editor[data-theme="xq-light"] .status-message.error {
  color: #ff6666; }
