.demos-page {
  .editors-container {
    .codesync-editor {
      position: relative !important;
      width: 500px;
      top: auto;
      bottom: auto;
      left: auto;
      margin: auto;
    }
  }
}
