.demos-page {
  .canvas-container {
    position: absolute;
    top: 375px;
    left: 0px;
    width: 100%;
  }
  .editor-container {
    clear: both;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 375px;
    .codesync-editor {
      position: absolute;
      .CodeMirror {
        font-size: 12px;
        line-height: 21px;
      }
    }
  }
}

#layout-selector {
  position: fixed;
  top: auto;
  bottom: 25px;
  right: 25px;
  z-index: 15000;
  background-color: #777;
  border-radius: 3px;
  box-shadow: 0 0 6px #333;
  margin: 0px;
  padding: 0px;
  li {
    margin: 0px;
    display: inline;
    cursor: pointer;
    color: #fff;
    border-right: 1px solid;
    padding: 4px 12px;
    &:last-child {
      border-right: 0px;
    }
  }
}

#layout-selector li {
  cursor: pointer
}

.editor-container[data-layout="one"] {
  opacity: 1.0;
  .codesync-editor[data-codesync="panel-1"] {
    width: 100%;
    left: 0%;
  }
  .codesync-editor[data-codesync="panel-2"] {
    display: none;
  }
  .codesync-editor[data-codesync="panel-3"] {
    display: none;
  }
}

.editor-container[data-layout="two"] {
  .codesync-editor[data-codesync="panel-1"] {
    left: 0px;
    width: 50%;
  }
  .codesync-editor[data-codesync="panel-2"] {
    display: none;
  }
  .codesync-editor[data-codesync="panel-3"] {
    width: 50% !important;
    left: 50%;
  }
}

.editor-container[data-layout="three"] {
  .codesync-editor[data-codesync="panel-1"] {
    width: 33.333333%;
    left: 0px;
  }
  .codesync-editor[data-codesync="panel-2"] {
    width: 33.333333%;
    left: 33.33333%;
  }
  .codesync-editor[data-codesync="panel-3"] {
    width: 33.333333%;
    left: 66.66666%;
  }
}