/* line 2, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
.codesync-editor .codesync-asset-selector {
  display: none;
  position: relative;
  width: 700px;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  top: 40px;
  left: 50%;
  margin-left: -350px; }
  /* line 13, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
  .codesync-editor .codesync-asset-selector .search-results-wrapper {
    position: absolute;
    height: 0px;
    top: 30px;
    left: 18px;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 0px 0px 4px 4px;
    width: 95%;
    z-index: 1;
    color: white;
    max-height: 200px;
    overflow: hidden;
    padding-top: 8px; }
    /* line 28, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
    .codesync-editor .codesync-asset-selector .search-results-wrapper .search-results {
      padding-top: 24px; }
    /* line 32, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
    .codesync-editor .codesync-asset-selector .search-results-wrapper .search-result {
      position: relative;
      padding: 8px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      height: 20px; }
      /* line 38, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
      .codesync-editor .codesync-asset-selector .search-results-wrapper .search-result.active {
        background-color: rgba(200, 200, 30, 0.4); }
  /* line 44, /Users/jonathan/Projects/code_sync/site/source/stylesheets/code_sync/editor/asset-selector.css.scss */
  .codesync-editor .codesync-asset-selector input {
    position: absolute;
    margin: 0px;
    height: 28px;
    z-index: 200;
    background: #5f5f5f;
    border: 0px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); }
