/*
 *= require ./src/codemirror
 *= require ./src/editor
 *= require ./src/editor-panel
 *= require ./src/editor-utility
 *= require ./src/toolbars
 *= require ./src/buttons
 *= require_tree ./src/plugins
 *= require_self
*/

.card-view {
  .card {
    display: none;
    &.active {
      display: block;
    }
  }
}

.status-message {
  width: 88%;
  left: 10%;
  bottom: 20%;
  border-radius: 4px;
  box-shadow: 0 0 6px #fff;
  position: absolute;
  z-index: 9000;
  color: #fff;
  background-color: #333;
  padding: 8px;
  &.error {
    color: #ff8080;
  }
  &.success {
    color: #80ff80;
  }
}