@import "code_sync/variables";


.codesync-embeddable, .codesync-embeddable * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.codesync-embeddable.ui-draggable-dragging {
  opacity: 0.9;
}

.codesync-embeddable {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100%;

  &.animating {
    .global-toolbar {
      opacity: 0 !important;
    }
  }

  .drag-handle {
    cursor: hand !important;
  }
  .global-toolbar {
    opacity: 1.0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 12;
    color: $white;
    section {
      position: absolute;
      z-index: 12;
      width: 33.33333%;
      .button {
        cursor: pointer;
      }
      &.left {
        left: 0%;
      }
      &.right {
        left: 66.66666%;
        padding-right: 12px;
        .button {
          float: right;
        }
      }
      &.center {
        left: 33.333333%;
        .button {
          width: 20px;
          margin: 0px auto;
        }
      }
    }


  }

  .panels-wrapper {
    margin: 0px;
    padding: 0px;
    .embeddable-editor-panel {
      margin: 0px;
      background: url(http://dabblet.com/img/noise.png) $background;
      padding: 0px;
    }
  }
}

.codesync-embeddable {
  .panels-wrapper {
    .embeddable-editor-panel {
      position: absolute;
      z-index: 1;

      .CodeMirror {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: 100%;
        width: 99.8%;
      }

      &.expanded {
        z-index: 2;
      }
      &.animating {
        z-index: 2;
        box-shadow: 0 0 4px 2px $shadowColor;
      }
    }
  }
}

// TOOLBAR CONFIG
.codesync-embeddable {
  .toolbar {
    position: absolute;
    color: $toolbarTextColor;
    margin: 0px;
    padding: 0px;
    z-index: 8;

    &.empty {
      display: none;
    }
  }
}

.embeddable-editor-panel {
  height: 100%;
  width: 100%;

  .editor-component {
    position: absolute;
    top: $toolbarSize;
    bottom: $toolbarSize;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .toolbar {
    margin: 0px;
    padding: 0px;
    height: $toolbarSize;
    width: 100%;
    clear: both;
    &.top {
    }

    &.bottom {
    }

    &:last-child {
      border-right: 0px;
    }

    &.empty {
      display: none;
    }

    section {
      width: 33.3333%;
      float: left;
      padding: 8px;
      &.right {
        text-align: right;
      }
    }
  }
}

.codesync-embeddable {
  &.rearranging {
    background-color: rgba(50,50,50,0.2);
  }
  .toolbar-button {
    cursor: pointer;
    margin: 0px 6px;
    opacity: 0.5;
    &:active {
      color: $shadowColor;
    }
    &:hover {
      opacity: 0.9;
      text-shadow: 1px 1px $shadowColor;
    }
  }
  .icon {
    &:before {
      font-family: 'FontAwesome', sans-serif;
    }
  }
}

.embeddable-editor-panel {
  .icon-expand-editor:before{
    content:"\f065"
  }

  &.expanded {
    .icon-expand-editor:before {
      content:"\f066"
    }
  }
}


.status-message {
  width: 88%;
  left: 10%;
  top: 10%;
  border-radius: 4px;
  box-shadow: 0 0 6px #fff;
  position: absolute;
  z-index: 9000;
  color: #fff;
  background-color: #333;
  padding: 8px;
  &.error {
    color: #ff8080;
  }
  &.success {
    color: #80ff80;
  }
}

.embeddable-utility-panel {
  position: absolute;
  z-index: 10000;

  &.bottom-aligned {
    bottom: 40px;
    right: 10px;
  }

  &.top-aligned {
    top: 40px;
    left: 10px;
  }

  background: $darkBackground;
  color: $white;
  width: 480px;
  border-radius: 4px;
  box-shadow: 0 0 6px $whiteShadow;
  padding: 12px;
}

.embeddable-utility-panel {
  .form {
    font-family: $baseFont;
    font-size: $baseFontSize * 1.2;
    line-height: $baseLineHeight * 1.2;
    .control-group {
      margin-bottom: $baseLineHeight / 2;
    }
    .controls {
      input {
        border-radius: 4px;
      }
      input.input-small {
        width: 80px;
      }
    }

    .form-actions {
      padding-top: 20px;
      .btn {
        cursor: pointer;
        float: right;
      }
    }
  }
}

.CodeMirror {
  font-family: Monaco !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.CodeMirror-gutters {
  border: 0px !important;
}


.btn i {
  margin-right: 6px;
}

ul.inline {
  margin: 0px;
  padding: 0px;

  li {
    display: inline;
    list-style-type: none;
    padding-left: 6px;
    padding-right: 6px;
    border-right: 1px solid;
    cursor: pointer;

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      border: 0px;
    }
  }
}

