@import "code_sync/variables";

$embeddableHeight: 400px;
$embeddableWidth: 960px;
$editorCount: 3;

$toolbarHeight: $baseLineHeight * 1.5;
$toolbarBackground: #343434;

.codesync-embeddable, .codesync-embeddable * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.codesync-embeddable {
  height: $embeddableHeight;
}

.codesync-embeddable, .panels-wrapper, .editor-component, .global-toolbar {
  background: $toolbarBackground;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.global-toolbar, .embeddable-editor-panel .toolbar {
  height: $toolbarHeight;
  background: $toolbarBackground;
}

.global-toolbar {
  position: absolute;
  bottom: 0px;
  z-index: 12000;
}

// EFFECTS
.codesync-embeddable {
  &.ui-draggable-dragging {
    opacity: 0.85;
  }

  &.animating {
    .global-toolbar {
      opacity: 0 !important;
    }
  }

  .embeddable-editor-panel {
    &.expanded {
      z-index: 2;
      box-shadow: 0px !important;
    }
    &.animating, &.raised {
      z-index: 2;
      box-shadow: 0 0 4px 2px $shadowColor;
    }
  }
}

.codesync-embeddable {
  .panels-wrapper {
    height: $embeddableHeight - $toolbarHeight;
  }
  .embeddable-editor-panel {
    position: absolute;
    height: $embeddableHeight - ($toolbarHeight);
    width: $embeddableWidth / $editorCount;
    z-index: 1;

    .CodeMirror, .editor-component {
      width: 100%;
      height: $embeddableHeight - ($toolbarHeight);
    }

  }

  &.animating {
    .CodeMirror {
    }
  }
}

.codesync-embeddable {
  .toolbar {
    color: $toolbarTextColor;
    opacity: 1.0;

    &:last-child {
      border-right: 0px;
    }

    &.empty {
      display: none;
    }
  }
}

.codesync-embeddable {
  .global-toolbar, .toolbar {
    display: block;
    clear: both;
    line-height: $toolbarHeight;
    padding-left: 20px;
    padding-right: 10px;

    .button {
      margin: 0px 8px;
    }

    section {
      width: 33.33333%;
      float: left;
      &.center {
        text-align: center;
      }
      &.left {
        padding-left: 4px;
        clear: left;
        .button:first-child {
          margin-left: 0px;
        }
      }
      &.right {
        padding-right: 4px;
        clear: right;

        .button:first-child {
          margin-right: 0px;
        }

        .button {
          float: right;
        }
        text-align: right;
      }
    }
  }
}

.codesync-embeddable {
  .icon {
    &:before {
      font-family: 'FontAwesome', sans-serif;
    }
  }

  .visibility-handle {
    .slide-in, .slide-out {
      display: none;
    }
    display: none;
  }

  &[data-position="bottom"], &[data-position="top"] {
    .drag-handle {
      display: none;
    }
    .visibility-handle {
      display: block;
    }
    &.visible {
      .visibility-handle .slide-out {
        display: block;
      }
      .visibility-handle .slide-in {
        display: none;
      }
    }
  }

  //down: 103
  //up: 102

  .icon-expand-editor:before{
    content:"\f065"
  }

  &.expanded {
    .icon-expand-editor:before {
      content:"\f066"
    }
  }
}

