- content_for(:head) do
  == stylesheet_link_tag 'entypo'

javascript:
  window.codeSyncClient = new CodeSync.Client()

  window.Canvas = true

  codeSyncClient.subscribeWith(function(){
    console.log("canvas content codesync client", arguments)
  });

#icon-showcase