.demos-page
  .editor-container
  .canvas-container
  javascript:
    window.codeSyncClient = new CodeSync.Client()

    //CodeSync.AssetEditor.setHotKey('ctrl+j')

== stylesheet_link_tag 'demos'
== javascript_include_tag 'demos'