
javascript:
  window.coffeescriptDefault = "CodeSync.onScriptChange ||= (changeObject)->\n"
  coffeescriptDefault = coffeescriptDefault + '  if changeObject.mode is "skim" and changeObject.name is "codesync"'
  coffeescriptDefault = coffeescriptDefault + "\n" + '    $(".canvas-container").html JST["codesync"]()'

.demos-page
  .editor-container data-layout="three"
  .canvas-container

- if development?
  javascript:
    window.codeSyncClient = new CodeSync.Client()

javascript:
  window.enableGlobalEditor = function(){
    CodeSync.AssetEditor.setHotKey('ctrl+j')

    window.codeSyncEditor = new CodeSync.AssetEditor({
      autoAppend: true,
      renderHidden: true,
      startMode: 'scss',
      position: "bottom"
    })
  }

- content_for(:head) do
  == stylesheet_link_tag 'demos', 'vendor/animate'

== javascript_include_tag 'demos'
