== javascript_include_tag 'code_sync/embeddable'

- content_for(:head) do
  == stylesheet_link_tag 'code_sync/embeddable', 'code_sync/embeddable-utility'

#editor-container style=""

javascript:
  var codesync  = new CodeSync.Client(),
      container = $('#editor-container')

  CodeSync.onTemplateChange = function(attributes,options){
    if(options.origin === "watcher") {
      CodeSync.Embeddable.createIn(container, {empty: true});
    }
  }

  CodeSync.onScriptChange = function(attributes,options){
    if(options.origin === "watcher") {
      CodeSync.Embeddable.createIn(container, {empty: true});
    }
  }

  $(function(){
    window.embeddable = CodeSync.Embeddable.createIn(container, {width: 960, height: 600, empty: true});
  })